<div align="right">
				<a href="#logueo" >Salir</a></hr>
				<br>
				<a href="#Bienvenido">Regresar</a>
</div>
<hr>
	<div align="center">
	<a href="#Estado"><img src="img/boton.png"></a>
	<a href="#Mensaje"><img src="img/boton2.jpeg"></a>
</div>
<hr>
<br>
<IMG src="img/mensaje.jpg"/> 
<br>
{{imagen}}
<br>
<br>
<form ng-controller="mensajeC">
    <fieldset>
		
		
        <legend>Eviar Mensaje:</legend>
		<label>Para:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
		<input type="text" name="Para"  ng-model="ParaText">
		<br>
        <label>Asunto:&nbsp;&nbsp;&nbsp;</label>
		<input type="text" name="De"  ng-model="DeText">
		<br>
										<br>
										<label>Mensaje:</label>
										<br>
										<textarea class="largo" name="Mensaje" cols="45" rows="5" ng-model="MessageText"></textarea> 
		
        <br>
        <button ng-click="Enviar()">Enviar</button>
    </fieldset>  
	<br>
		<span>Le ha enviado al usuario con codigo: {{MessageStatus.autor}}</span>
       <br>
        <span>El mensaje con asunto: {{MessageStatus.titulo}}.</span>
       <br>
        <span>El mensaje contiene: {{MessageStatus.cuerpo}}</span>             
</form>
